<p>
  feature1 works!
</p>
<div>
  {{'title'| ngTrans}}
  {{'helloWorld'| ngTrans:({prefix:'content'})}}
</div>

<div>
  get title():
  {{title}}
</div>

<div>
  title$|async:
  {{title$|async}}
</div>

<hr>

<div>
  带有参数的内容:{{contentWithParams}} - 参数值：{{params|json}}

  <div>
    get titleWithParams():
    {{titleWithParams}}
  </div>

  <div>
    titleWithParams$|async:
    {{titleWithParams$|async}}
  </div>
  <div>
    'content.contentWithParams'| ngTrans:params:
    {{'content.contentWithParams'| ngTrans:({params})}}
  </div>

  <div>
    'contentWithParams'| ngTrans:options:
    {{'contentWithParams'| ngTrans:({prefix:'content',params})}}
  </div>


</div>

<hr>

<div>
  使用ng-trans组件：

  <div>
    <ng-trans key="content.complexContent" [components]="[com1,com2,com3]" [options]="{params}"> </ng-trans>
  </div>

  <div>
    <ng-trans key="complexContent" [components]="[com1,com2,com3]" [options]="{params,prefix:'content'}"> </ng-trans>
  </div>

</div>


<ng-template #com1 let-comContent="content" let-list="list">
  <b ng-trans-subcontent [content]="comContent" [list]="list"></b>
</ng-template>

<ng-template #com2 let-comContent="content" let-list="list">
  <a ng-trans-subcontent [content]="comContent" [list]="list"></a>
</ng-template>

<ng-template #com3 let-comContent="content">
  <b>{{comContent}}</b>
</ng-template>