<p>
  feature1 works!
</p>
<div>
  {{'title'| ngTranslation}}
  {{'helloWorld'| ngTranslation:({prefix:'content'})}}
</div>

<div>
  get title():
  {{title}}
</div>

<div>
  title$|async:
  {{title$|async}}
</div>

<hr>

<div>
  带有参数的内容:{{contentWithParams}} - 参数值：{{params|json}}

  <div>
    get titleWithParams():
    {{titleWithParams}}
  </div>

  <div>
    titleWithParams$|async:
    {{titleWithParams$|async}}
  </div>
  <div>
    'content.contentWithParams'| ngTranslation:params:
    {{'content.contentWithParams'| ngTranslation:({params})}}
  </div>

  <div>
    'contentWithParams'| ngTranslation:options:
    {{'contentWithParams'| ngTranslation:({prefix:'content',params})}}
  </div>


</div>

<hr>

<div>
  使用ng-translation组件：

  <div>
    <ng-translation key="content.complexContent" [components]="[com1,com2,com3]" [options]="{params}"></ng-translation>
  </div>

</div>


<ng-template #com1 let-comContent="content" let-list="list">
  <b ng-translation-subcontent [content]="comContent" [list]="list"></b>
</ng-template>

<ng-template #com2 let-comContent="content" let-list="list">
  <a ng-translation-subcontent [content]="comContent" [list]="list"></a>
</ng-template>

<ng-template #com3 let-comContent="content">
  <b>{{comContent}}</b>
</ng-template>
