<p>
  feature1 works!
</p>
<div>
  {{'title'| ngTranslation}}
  {{'content.helloWorld'| ngTranslation}}
</div>

<div>
  get title():
  {{title}}
</div>

<div>
  title$|async:
  {{title$|async}}
</div>

<hr>

<div>
  带有参数的内容:{{trans.content.contentWithParams}} - 参数值：{{params|json}}

  <div>
    get titleWithParams():
    {{titleWithParams}}
  </div>

  <div>
    titleWithParams$|async:
    {{titleWithParams$|async}}
  </div>
  <div>
    'content.contentWithParams'| ngTranslation:params:
    {{'content.contentWithParams'| ngTranslation:params}}
  </div>

</div>
