<button (click)="onChangeLang('zh-CN')">切换为中文</button>
<button (click)="onChangeLang('en')">切换为英文</button>
<button (click)="onChangeLang('other')">切换为其它不存在的语言</button>
<div>
  {{'title'| ngTranslation}}
  {{'content.helloWorld'| ngTranslation}}
</div>

<div>
  get title():
  {{title}}
</div>

<div>
  title$|async:
  {{title$|async}}
</div>

<div>
  当key对应的内容不存在, 默认返回key:
  {{'test.test'| ngTranslation}}
</div>

<div>
  当key对应的内容不存在, 也可以设置返回空字符串:
  {{'test.test'| ngTranslation:({returnKeyWhenEmpty:false})}}
</div>

<ng-translation></ng-translation>
<router-outlet></router-outlet>