<h2>
  <a href="https://github.com/bigBear713/ng-translation/blob/master/projects/ng-translation/README.md" target="_blank">
    Document
  </a>
</h2>
<hr>
<button (click)="onChangeLang('zh-CN')">切换为中文</button>
<button (click)="onChangeLang('en')">切换为英文</button>
<button (click)="onChangeLang('other')">切换为其它不存在的语言</button>

<hr>

<div>
  <h5>使用 ngTrans 管道，语言切换时自动获取最新的翻译</h5>
  {{ "{{'title'| ngTrans}}：" }}
  {{'title'| ngTrans}}
</div>
<hr>

<div>
  <h5>使用 ngTrans 管道，key值为多层</h5>
  {{"{{'content.helloWorld'| ngTrans}}:"}}
  {{'content.helloWorld'| ngTrans}}
</div>
<hr>

<div>
  <h5>使用 ngTrans 管道，带有options参数。设置key值前缀和翻译文本中的参数,params参数为：{{params|json}}</h5>
  <p>
    翻译文本原文：{{'contentWithParams'| ngTrans:({prefix:'content'})}}
  </p>
  {{"{{'contentWithParams'| ngTrans:({prefix:'content',params: params})}}:"}}
  {{'contentWithParams'| ngTrans:({prefix:'content',params: params})}}
</div>
<hr>

<div>
  <h5>通过getter，调用translationSync()时时获取最新的翻译</h5>
  {{"get title(){return this.transService.translationSync('title');}:"}}
  {{title}}
</div>
<hr>

<div>
  <h5>调用translationAsync()得到一个Observable,结合 async 管道使用，语言切换时自动获取最新的翻译</h5>
  <div>{{"this.title$ = this.transService.translationAsync('title');// ts"}}</div>
  {{"{{title$ | async}}:"}}
  {{title$|async}}
</div>
<hr>

<div>
  {{"{{'test.test'| ngTrans}}"}}，当key对应的内容不存在, 默认返回key:
  {{'test.test'| ngTrans}}
</div>
<hr>

<div>
  {{"{{'test.test'| ngTrans:({returnKeyWhenEmpty:false})}}"}}，当key对应的内容不存在, 也可以设置返回空字符串:
  {{'test.test'| ngTrans:({returnKeyWhenEmpty:false})}}
</div>
<hr>

<h3>children component</h3>

<router-outlet></router-outlet>